{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}

{% include 'includes/header.html' %}
{% include 'includes/nav.html' %}

<section id="events">

  <div id="preamble">
  {{ this.preamble }}
  </div>

  {% block list %}

  <div id="events-list">

    <div id="search-wrapper" style="display:none">
      <input id="search-input" placeholder="Search" />

      {{ this.filter_label }}:
      <select id="filter-input">
        <option value="#filter:All">{{ this.filter_all_events }}</option>
        <option value="#filter:world-region-code=AMER">{{ this.filter_amer }}</option>
        <option value="#filter:world-region-code=EMEA">{{ this.filter_emea }}</option>
        <option value="#filter:world-region-code=APAC">{{ this.filter_apac }}</option>
        <option value="#filter:event-location=Online">{{ this.filter_online }}</option>
        <option value="#filter:event-location=Offline">{{ this.filter_offline }}</option>
      </select>
    </div>


    <ul class=list>
      {% set events = bag(this.data_file).events %}
      {% for event in events %}
        <li>

          <h3 class="event-title">
            <a id="{{ event['slug'] }}" aria-hidden="true"></a>
            <a href="#{{ event['slug'] }}">
              <svg class="leading-icon"><use xlink:href="#icon-link" />
              </svg></a>
            {{ event['event_name'] }}
          </h3>

          <div class="event-detail">
            <p>{{ event['event_purpose'] }}</p>

            <dl>
              {% if event['event_date'] %}
                <dt>{{ this.date }}</dt>
                <dd>
                  {{ parse_date(event['event_date'], '%Y-%m-%d').strftime('%A %e %B %Y') }}
                </dd>
              {% endif %}

              {% if event['event_time'] %}
                <dt>{{ this.time }}</dt>
                <dd>
                  {{ event['event_time'] }}
                  {% if event['timezone'] %}
                    ({{ event['timezone'] }})
                  {% endif %}
                </dd>
              {% endif %}

              {% if event['online'] %}
                <dt>{{ this.location }}</dt>
                <dd>
                  Online
                  {% if event['world_region_text'] %}
                    ({{ event['world_region_text'] }})
                  {% endif %}
                </dd>
              {% else %}
                {% if event['place'] %}
                  <dt>{{ this.location }}</dt>
                  <dd>
                    {% if event['latitude'] and event['longitude'] %}
                      <a
                        href="http://www.openstreetmap.org/?mlat={{ event['latitude'] }}&mlon={{ event['longitude'] }}&zoom=12"
                      >
                        {{ event['place'] }}</a>
                    {% else %}
                      {{ event['place'] }}
                    {% endif %}
                    {% if event['country'] %}
                      {{ event['country'] }}
                    {% endif %}
                    {% if event['world_region_text'] %}
                      ({{ event['world_region_text'] }})
                    {% endif %}
                  </dd>
                {% endif %}
              {% endif %}

              {% if event['organisers'] %}
                <dt>{{ this.organisers }}</dt>
                <dd>{{ event['organisers'] }}</dd>
              {% endif %}

              <!-- hidden elements to make the search work -->
              {% if event['online'] %}
                <dt style="display:none" aria-hidden="true" >Location</dt>
                <dd style="display:none" aria-hidden="true" class="event-location">Online</dd>
              {% else %}
                {% if event['place'] %}
                  <dt style="display:none" aria-hidden="true" >Location</dt>
                  <dd style="display:none" aria-hidden="true" class="event-location">{{event['place']}}</dd>
                {% endif %}
                {% if event['country'] %}
                  <dt style="display:none" aria-hidden="true" >Country</dt>
                  <dd style="display:none" aria-hidden="true" class="event-country">{{event['country']}}</dd>
                {% endif %}
              {% endif %}
              {% if event['world_region_text'] %}
                <dt style="display:none" aria-hidden="true" >World Region Text</dt>
                <dd style="display:none" aria-hidden="true" class="world-region-text">{{event['world_region_text']}}</dd>
              {% endif %}
              {% if event['world_region_code'] %}
                <dt style="display:none" aria-hidden="true" >World Region Code</dt>
                <dd style="display:none" aria-hidden="true" class="world-region-code">{{event['world_region_code']}}</dd>
              {% endif %}
            </dl>

            <p>
              {% if event['mini_grant_winner'] %}
                <span>
                  <svg class="leading-icon"><use xlink:href="#icon-coin-dollar" /></svg>
                  {{ this.funded }}
                </span>
              {% endif %}
            </p>

            <p>
              {% if event['url'] %}
                <span class="social-link">
                  <svg class="leading-icon"><use xlink:href="#icon-sphere" /></svg>
                  <a href="{{ event['url'] }}">{{ this.website }}</a>
                </span>
              {% endif %}

              {% if event['online_event_url'] %}
                <span class="social-link">
                  <svg class="leading-icon"><use xlink:href="#icon-users" /></svg>
                  <a href="{{ event['online_event_url'] }}">{{ this.online_event }}</a>
                </span>
              {% endif %}

              {% if event['event_tweet_url'] %}
                <span class="social-link">
                  <svg class="leading-icon"><use xlink:href="#icon-twitter" /></svg>
                  <a href="{{ event['event_tweet_url'] }}">{{ this.twitter }}</a>
                </span>
              {% endif %}

              {% if event['event_video_url'] %}
                <span class="social-link">
                  <svg class="leading-icon"><use xlink:href="#icon-youtube" /></svg>
                  <a href="{{ event['event_video_url'] }}">{{ this.youtube }}</a>
                </span>
              {% endif %}
            </p>
          </div>

        </li>
      {% endfor %}
    </ul>
  </div>


  {% endblock %}

  <div id="postamble">
  {{ this.postamble }}
  </div>

</section>

{% include 'includes/logos.html' %}
{% endblock %}

{% block extra_js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<script>
  var options = {
      valueNames: [
        'event-title',
        'event-location',
        'event-country',
        'world-region-text',
        'world-region-code',
      ],
      searchDelay: 500
  };
  var list = new List('events-list', options);
  var filters = {
    '#filter:All': function(item) {return true;},
    '#filter:world-region-code=EMEA': function(item) {return item.values()['world-region-code'] === 'EMEA';},
    '#filter:world-region-code=APAC': function(item) {return item.values()['world-region-code'] === 'APAC';},
    '#filter:world-region-code=AMER': function(item) {return item.values()['world-region-code'] === 'AMER';},
    '#filter:event-location=Online': function(item) {return item.values()['event-location'] === 'Online';},
    '#filter:event-location=Offline': function(item) {return item.values()['event-location'] !== 'Online';},
  };

  function getFilter(hash) {
    return filters[hash];
  }

  function applyFilter(value) {
    var filter = getFilter(value);
    if (filter !== undefined) {
      list.filter(filter);
    }
  }

  function applySearch(value) {
    list.search(value);
  }

  function hash2Dom() {
    var hash = window.location.hash;
    if (!hash.startsWith('#filter:')) {
      return;
    }
    var parts = hash.split(',search:', 2);
    if (parts[0] in filters) {
      $('#filter-input').val(parts[0]);
    }
    if (parts.length === 2) {
      $('#search-input').val(parts[1]);
    }
  }

  function dom2Hash() {
    var hash = $('#filter-input').val() + ',search:' + $('#search-input').val();
    window.location.hash = hash;
  }

  $('#filter-input').on('change', function() {
    applyFilter(this.value);
    dom2Hash();
  });

  $('#search-input').on('input', function() {
    applySearch(this.value);
    dom2Hash();
  });

  if (window.location.hash.startsWith('#filter:')) {
    hash2Dom();
    $('#filter-input').trigger('change');
    $('#search-input').trigger('input');
  }

  $('#search-wrapper').show();
</script>
{% endblock %}
