.events_list {
    #events {
        #get-the-data {
            margin-top: $gutter;
            padding-left: ($gutter + $gutter/2);
            padding-right: $gutter;

            p {
                margin-bottom: 0.1em;
            }
        }

        #search-wrapper {
            padding-top: $gutter;
            margin: auto;
            width: 80%;
        }

        #search-input {
            width: 100%;
            box-sizing: border-box;
            padding: $base-spacing/2;
            margin-bottom: $gutter/8;
        }

        #filter-input {
            margin-top: $gutter/8;
            box-sizing: border-box;
            padding: $base-spacing/2;
            margin-bottom: $gutter/4;
        }

        ul.list {
            list-style-type: none;
        }

        .event-detail {
            margin-top: $gutter/2;
            margin-bottom: $gutter*2;
        }

        a[id]::before {
            content: '';
            display: block;
            height: 120px;
            margin-top: -120px;
        }
        .event-detail p {
            margin-top: $gutter/2;
        }
        .event-detail p .social-link {
            padding-right: $gutter/2;
            white-space: nowrap;
        }
    }
}
