.site-footer {
  background-color: $black;
  @include rev-text(rgba(#fff,0.8));
  font-size: 0.9em;

  & > div {
    @include container;

    & > span {
      display: block;
      padding: $gutter $gutter $gutter/2 $gutter;
    }
  }
}
