.home {
  .banner {
    background-color: $yellow;
    height: 100vh;
    width: 100%;
    display: table;
    background-image:url(../images/banner.png);
    background-size: cover;
    background-position: center;

    @media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (min-width: 720px), only screen and (min--moz-device-pixel-ratio: 1.3) and (min-width: 720px), only screen and (-o-min-device-pixel-ratio: 1.3 / 1) and (min-width: 720px), only screen and (min-resolution: 125dpi) and (min-width: 720px), only screen and (min-resolution: 1.3dppx) and (min-width: 720px) {
      background-image: url(../images/banner_2x.png);
    }

    & > div {
      display: table-cell;
      vertical-align: middle;
      padding: $gutter;
      text-align: center;

      h1 {
        text-transform: capitalize;
        font-size: 9vmin;
        margin-bottom: 1vh;
        line-height: 1.5;

        span {
          background-color: $black;
          @include rev-text;
          position: relative;
          z-index: 1;
          display: inline-block;

          &:after {
            content: '\00a0';
            display: block;
            background-color: $black;
            position: absolute;
            left: 100%;
            top: 0;
            bottom: 0;
            z-index: -1;
          }

          &.l1 {
            z-index: 2;
          }

          &.l2 {
            top: -0.3em;
          }
        }
      }

      p {
        font-weight: bold;
        font-size: 4vmin;
        display: inline-block;
        max-width: 50%;
        mix-blend-mode: lighten;
        line-height: 1.3;

        span {
          background-color: #fff;
          position: relative;
          z-index: 1;
          display: inline-block;

          &:after {
            content: '\00a0';
            display: block;
            background-color: #fff;
            position: absolute;
            left: 100%;
            top: 0;
            bottom: 0;
            z-index: -1;
          }
        }

        @media (max-width: $large-screen) {
          br {
            display: none;
          }
        }
      }
    }

    @media (min-width: $medium-screen) {
      & + .main-nav,
      & + .sticky-wrapper .main-nav {
        margin-top: -97px;

        &.stuck {
          margin-top: 0;
        }
      }
    }
  }

  & > section {
    clear: both;

    & > div {
      @include container;
    }

    article {
      font-size: 1.2em;
    }

    h2 {
      font-size: 48px;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    h3 {
      font-size: 26px;
      margin-bottom: 0;
    }

    .about,
    .this-year {
      article {
        @media (min-width:$max-screen) {
          max-width: 440px;
        }
      }
    }

    .about {
      article {
        padding: $gutter $gutter $gutter/2 $gutter;

        h2 {
          color: $blue;
        }

        @media (min-width:$max-screen) {
          padding-left: 0;
        }

        & + a {
          @include button;
          margin-left: $gutter;
          margin-bottom: $gutter;

          @media (min-width:$max-screen) {
            margin-left: 0;
          }
        }
      }

      @media (min-width: $large-screen) {
        float: left;
        width: 50%;
      }

      @media (min-width:$max-screen) {
        position: relative;
        height: 540px;

        &:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 270px 270px 0 0;
          border-color: #fff transparent transparent transparent;
          top: 0;
          left: 100%;
          z-index: 1;
        }
      }
    }
    .this-year {
      background-color: $purple;
      @include rev-text;
      position: relative;

      @media (min-width: $large-screen) {
        float: right;
        width: 50%;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 100%;
          width: 50vw;
          background-color: $purple;
        }
      }

      @media (min-width:$max-screen) {
        height: 540px;

        &:before {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 270px 270px;
          border-color: transparent transparent $purple transparent;
          bottom: 0;
          right: 100%;
          z-index: 1;
        }
      }

      article {
        padding: $gutter;

        @media (min-width:$max-screen) {
          padding-right: 0;
          text-align: right;
          float: right;
        }
      }

      ul {
        padding: 0;
        margin: 0 $gutter/2;
        clear: right;
        @include clearafter;

        @media (min-width:$max-screen) {
          margin-right: -$gutter/2;
        }

        li {
          float: left;
          width: 25%;
          text-align: center;
          display: block;
          padding-left: $gutter/2;
          padding-right: $gutter/2;
          box-sizing: border-box;

          svg {
            width: 100px;
            height: 100px;
            fill: currentColor;
          }

          p {
            margin-top: 0;
          }
        }
      }
    }

    &#who {
      background-color: $blue;
      @include rev-text;

      & > div {
        padding: $gutter 0;

        article {
          padding-left: $gutter;
          padding-right: $gutter;
          padding-bottom: $base-spacing;

          @media (min-width:$max-screen) {
            margin-left: -$gutter;
            margin-right: -$gutter;
          }
        }

        ul {
          @include clearafter;
          padding: 0;
          margin: 0;
          text-align: center;

          @media (min-width:$max-screen) {
            margin-left: -$gutter;
            margin-right: -$gutter;
          }

          li {
            display: block;
            float: left;
            padding: $base-spacing $gutter 0 $gutter;
            box-sizing: border-box;
            font-size: 0.9em;

            @media (min-width: $large-screen) {
              width: 20%;
            }

            span {
              display: inline-block;
              background-color: #fff;
              padding: 1.2em;
              border-radius: 50%;

              svg {
                fill:$blue;
                display: block;
                width: 100px;
                height: 100px;
              }
            }
          }
        }
      }
    }

    &#resources {
      text-align: center;

      & > div {
        & > article {

          h2 {
            color: $blue;
          }

          & > a {
            @include button;
          }
        }
      }
    }

    &#support {
      background-color: $purple;
      @include rev-text;
    }
  }
}
