body {
  .banner {
    background-color: $yellow;
    width: 100%;
    display: table;
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center;
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (min-width: 720px),
      only screen and (min--moz-device-pixel-ratio: 1.3) and (min-width: 720px),
      only screen and (-o-min-device-pixel-ratio: 1.3 / 1) and (min-width: 720px),
      only screen and (min-resolution: 125dpi) and (min-width: 720px),
      only screen and (min-resolution: 1.3dppx) and (min-width: 720px) {
      background-image: url("../images/banner_2x.png");
    }

    & > a {
      display: table-cell;
      vertical-align: middle;
      padding: $gutter;
      text-align: center;
      color: $black;

      h1 {
        font-size: 9vmin;
        margin-bottom: 1vh;
        line-height: 1.5;

        span {
          position: relative;
          z-index: 1;
          display: inline-block;

          &:after {
            content: "\00a0";
            display: block;
            position: absolute;
            left: 100%;
            top: 0;
            bottom: 0;
            z-index: -1;
          }

          &.l1 {
            z-index: 2;
          }

          &.l2 {
            top: -0.3em;
          }

          &.l3 {
            top: -0.3em;
            font-weight: normal;
          }
        }
      }

      p {
        font-weight: bold;
        font-size: 4vmin;
        display: inline-block;
        max-width: 50%;
        line-height: 1.3;

        span {
          background-color: #fff;
          position: relative;
          z-index: 1;
          display: inline-block;

          &:after {
            content: "\00a0";
            display: block;
            background-color: #fff;
            position: absolute;
            left: 100%;
            top: 0;
            bottom: 0;
            z-index: -1;
          }
        }
        @media (max-width: $large-screen) {
          br {
            display: none;
          }
        }
      }

      .down {
        display: block;
        opacity: 0.5;
        position: relative;
        bottom: -2vh;

        svg {
          height: 64px;
          fill: #fff;
        }

        @media (min-width: $medium-screen) {
          & + .main-nav,
          & + .sticky-wrapper .main-nav {
            margin-top: -97px;

            &.stuck {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
  & > section {
    clear: both;

    & > div {
      @include container;
    }

    header {
      font-size: 1.2em;
    }

    .about,
    .this-year {
      header {
        @media (min-width: $max-screen) {
          max-width: 500px;
        }
        & svg{
          width: 450px;
        }
      }
    }

    .about {
      header {
        padding: $gutter $gutter $gutter/2 $gutter;

        h2 {
          color: $black;
        }

        @media (min-width: $max-screen) {
          padding-left: 0;
        }

        & + a {
          @include button;
          margin-left: $gutter;
          margin-bottom: $gutter;

          @media (min-width: $max-screen) {
            margin-left: 0;
          }
        }
      }

      @media (min-width: $large-screen) {
        float: left;
        width: 50%;
      }
    }
    .this-year {
      background-color: $white;
      position: relative;

      @media (min-width: $large-screen) {
        float: right;
        width: 50%;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 100%;
          width: 50vw;
          background-color: $white;
        }
      }

      header {
        padding: $gutter $gutter 0 $gutter;
      }

      .theme {
        width: 100%;
        svg {
          width: 40%;
        }
        padding: 20px;
        display: flex;
        .text {
          width: 50%;
        }
      }

      ul {
        padding: 0;
        margin: 0 0 $gutter/2 $gutter/2;
        clear: right;
        @include clearafter;

        @media (min-width: $max-screen) {
          margin-right: $gutter/2;
        }

        li {
          text-align: center;
          display: block;
          padding-left: $gutter/2;
          padding-right: $gutter/2;
          box-sizing: border-box;
          margin-top: $gutter;

          @media (min-width: $medium-screen) {
            float: left;
            width: 20%;
          }

          svg {
            width: 80px;
            height: 80px;
            fill: currentColor;
          }

          p {
            margin-top: 0;
          }
        }
      }
    }

    &#map {
      position: relative;
      height: 620px;
      max-height: 100vh;

      #map-container {
        max-width: none;
      }

      header {
        position: absolute;
        width: 100%;
        top: $gutter;
        pointer-events: none;
        font-size: 0.8em;
        text-align: center;

        & > div {
          @include container;

          & > div {
            float: right;
            pointer-events: all;
            background-color: rgba(#fff, 0.8);
            padding: $gutter * 0.3;

            .count {
              display: block;
              font-weight: 700;
              padding-top: $base-spacing/3;
            }

            a {
              @include button;
              display: block;
            }
          }
        }
      }
    }

    &#who {
      background-color: $blue;
      @media (min-width: $max-screen) {
        position: relative;
        padding-bottom: 50px;

        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 80px 100vw;
          border-color: transparent transparent #fff transparent;
          bottom: 0;
          left: 0;
          z-index: 1;
        }
      }

      & > div {
        padding: $gutter 0;

        header {
          padding-left: $gutter;
          padding-right: $gutter;
          padding-bottom: $base-spacing;
          @media (min-width: $max-screen) {
            margin-left: -$gutter;
            margin-right: -$gutter;
          }
        }

        ul {
          @include clearafter;
          padding: 0;
          margin: 0;
          text-align: center;
          @media (min-width: $max-screen) {
            margin-left: -$gutter;
            margin-right: -$gutter;
          }

          li {
            display: block;
            padding: $base-spacing $gutter 0;
            box-sizing: border-box;
            font-size: 0.9em;
            @media (min-width: $large-screen) {
              float: left;
              width: 20%;
            }

            span {
              display: inline-block;
              background-color: $black;
              padding: 1.2em;
              border-radius: 50%;

              svg {
                fill: $blue;
                display: block;
                width: 100px;
                height: 100px;
              }
            }
          }
        }
      }
    }

    &#resources {
      text-align: center;

      & > div {
        & > header {
          padding-left: $gutter;
          padding-right: $gutter;

          h2 {
            color: $black;
          }

          svg {
            width: 120px;
            height: 120px;
            margin: $gutter $gutter/2 $gutter/2;

            &.environment {
              fill: $yellow;
            }

            &.money {
              fill: $red;
            }

            &.mapping {
              fill: $green;
            }

            &.equality {
              fill: $purple;
            }

            &.ocean {
              fill: $blue !important;
            }
          }

          p {
            max-width: 770px;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }

          & + a {
            @include button;
            margin-bottom: $gutter;
          }
        }

        article {
          display: none;
        }
      }

      &:target {
        & > div {
          & > header {
            & + a {
              display: none;
            }
          }
        }

        article {
          display: block;
          text-align: left;
          padding: $gutter;

          & > div {
            @include columns;

            .theme {
              break-inside: avoid;
              display: block;

              &:nth-of-type(1) h4 {
                color: $yellow;
              }

              &:nth-of-type(2) h4 {
                color: $red;
              }

              &:nth-of-type(3) h4 {
                color: $green;
              }

              &:nth-of-type(4) h4 {
                color: $purple;
              }
            }

            h4 {
              margin-top: 0;
            }

            h4,
            h5 {
              break-after: avoid;
              break-inside: avoid;
            }
          }
        }
      }
    }

    &#support {
      background-color: $fancy-green;

      & > div {
        padding-bottom: $gutter;

        & > header {
          padding: $gutter $gutter 0;

          & + a {
            @include button($black, $white);
            margin: $gutter;
          }
        }
      }
      @media (min-width: $max-screen) {
        position: relative;
        padding-top: 75px;

        &:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 80px 100vw 0 0;
          border-color: #fff transparent transparent;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }
    }

    &#logos {
      background-color: $black;
      @include rev-text;

      & > div {
        padding-bottom: $gutter/5;

        header {
          padding: $gutter $gutter 0;
          @media (min-width: $max-screen) {
            margin-left: -$gutter;
            margin-right: -$gutter;
          }
        }

        ul {
          @include clearafter;
          padding: 0;
          margin-left: $gutter/2;
          @media (min-width: $max-screen) {
            margin-left: 1%;
          }

          li {
            display: block;
            padding: 0;
            box-sizing: border-box;
            @media (min-width: $large-screen) {
              float: left;
              width: 30%;
            }

            span {
              display: inline-block;

              svg {
                display: block;
                width: 35%;
                margin-bottom: -100px;
                margin-top: -40px;
              }
            }
          }
        }
      }
    }
  }
}

.intro2-box {
  padding: 25px;
  border: 3px solid $black;
}

.oddbtn {
  background-color: $black;
  color: $white;
  padding: 20px 45px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-decoration: none;
  display: block;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
