.home {
  .banner {
    background-color: $yellow;
    height: 100vh;
    width: 100%;
    display: table;
    background-image:url(../images/banner.png);
    background-size: cover;
    background-position: center;

    @media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (min-width: 720px), only screen and (min--moz-device-pixel-ratio: 1.3) and (min-width: 720px), only screen and (-o-min-device-pixel-ratio: 1.3 / 1) and (min-width: 720px), only screen and (min-resolution: 125dpi) and (min-width: 720px), only screen and (min-resolution: 1.3dppx) and (min-width: 720px) {
      background-image: url(../images/banner_2x.png);
    }

    & > a {
      display: table-cell;
      vertical-align: middle;
      padding: $gutter;
      text-align: center;
      color: $black;

      h1 {
        text-transform: capitalize;
        font-size: 9vmin;
        margin-bottom: 1vh;
        line-height: 1.5;

        span {
          background-color: $black;
          @include rev-text;
          position: relative;
          z-index: 1;
          display: inline-block;

          &:after {
            content: '\00a0';
            display: block;
            background-color: $black;
            position: absolute;
            left: 100%;
            top: 0;
            bottom: 0;
            z-index: -1;
          }

          &.l1 {
            z-index: 2;
          }

          &.l2 {
            top: -0.3em;
          }
        }
      }

      p {
        font-weight: bold;
        font-size: 4vmin;
        display: inline-block;
        max-width: 50%;
        mix-blend-mode: lighten;
        line-height: 1.3;

        span {
          background-color: #fff;
          position: relative;
          z-index: 1;
          display: inline-block;

          &:after {
            content: '\00a0';
            display: block;
            background-color: #fff;
            position: absolute;
            left: 100%;
            top: 0;
            bottom: 0;
            z-index: -1;
          }
        }

        @media (max-width: $large-screen) {
          br {
            display: none;
          }
        }
      }

      .down {
        display: block;
        opacity: 0.5;
        position: relative;
        bottom: -2vh;

        svg {
          height: 64px;
          fill: #fff;
        }
      }
    }

    @media (min-width: $medium-screen) {
      & + .main-nav,
      & + .sticky-wrapper .main-nav {
        margin-top: -97px;

        &.stuck {
          margin-top: 0;
        }
      }
    }
  }

  & > section {
    clear: both;

    & > div {
      @include container;
    }

    header {
      font-size: 1.2em;
    }

    .about,
    .this-year {
      header {
        @media (min-width:$max-screen) {
          max-width: 450px;

          p + p {
            max-width: 350px;
          }
        }
      }
    }

    .about {
      header {
        padding: $gutter $gutter $gutter/2 $gutter;

        h2 {
          color: $blue;
        }

        @media (min-width:$max-screen) {
          padding-left: 0;
        }

        & + a {
          @include button;
          margin-left: $gutter;
          margin-bottom: $gutter;

          @media (min-width:$max-screen) {
            margin-left: 0;
          }
        }
      }

      @media (min-width: $large-screen) {
        float: left;
        width: 50%;
      }

      @media (min-width:$max-screen) {
        position: relative;
        height: 540px;

        &:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 270px 270px 0 0;
          border-color: #fff transparent transparent transparent;
          top: 0;
          left: 100%;
          z-index: 1;
        }
      }
    }
    .this-year {
      background-color: $purple;
      @include rev-text;
      position: relative;

      @media (min-width: $large-screen) {
        float: right;
        width: 50%;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 100%;
          width: 50vw;
          background-color: $purple;
        }
      }

      @media (min-width:$max-screen) {
        height: 540px;

        &:before {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 270px 270px;
          border-color: transparent transparent $purple transparent;
          bottom: 0;
          right: 100%;
          z-index: 1;
        }
      }

      header {
        padding: $gutter $gutter 0 $gutter;

        @media (min-width:$max-screen) {
          padding-right: 0;
          text-align: right;
          float: right;
        }
      }

      ul {
        padding: 0;
        margin: 0 $gutter/2;
        clear: right;
        @include clearafter;

        @media (min-width:$max-screen) {
          margin-right: -$gutter/2;
        }

        li {
          text-align: center;
          display: block;
          padding-left: $gutter/2;
          padding-right: $gutter/2;
          box-sizing: border-box;
          margin-top: $gutter;

          @media (min-width: $medium-screen) {
            float: left;
            width: 25%;
          }

          svg {
            width: 100px;
            height: 100px;
            fill: currentColor;
          }

          p {
            margin-top: 0;
          }
        }
      }
    }

    &#map {
      position: relative;
      height: 620px;
      max-height: 100vh;

      #map-container {
        max-width: none;
      }

      header {
        position: absolute;
        width: 100%;
        top: $gutter;
        pointer-events: none;
        font-size: 0.8em;
        text-align: center;

        & > div {
          @include container;

          & > div {
            float: right;
            pointer-events: all;
            background-color: rgba(#fff,0.8);
            padding: $gutter*0.3;

            .count {
              display: block;
              font-weight: 700;
              padding-top: $base-spacing/3;
            }

            a {
              @include button;
              display: block;
            }
          }
        }
      }
    }

    &#who {
      background-color: $blue;
      @include rev-text;

      @media (min-width:$max-screen) {
        position: relative;
        padding-bottom: 50px;

        &:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 80px 100vw;
          border-color: transparent transparent #fff transparent;
          bottom: 0;
          left: 0;
          z-index: 1;
        }
      }

      & > div {
        padding: $gutter 0;

        header {
          padding-left: $gutter;
          padding-right: $gutter;
          padding-bottom: $base-spacing;

          @media (min-width:$max-screen) {
            margin-left: -$gutter;
            margin-right: -$gutter;
          }
        }

        ul {
          @include clearafter;
          padding: 0;
          margin: 0;
          text-align: center;

          @media (min-width:$max-screen) {
            margin-left: -$gutter;
            margin-right: -$gutter;
          }

          li {
            display: block;
            padding: $base-spacing $gutter 0 $gutter;
            box-sizing: border-box;
            font-size: 0.9em;

            @media (min-width: $large-screen) {
              float: left;
              width: 20%;
            }

            span {
              display: inline-block;
              background-color: #fff;
              padding: 1.2em;
              border-radius: 50%;

              svg {
                fill:$blue;
                display: block;
                width: 100px;
                height: 100px;
              }
            }
          }
        }
      }
    }

    &#resources {
      text-align: center;

      & > div {
        & > header {
          padding-left: $gutter;
          padding-right: $gutter;

          h2 {
            color: $blue;
          }

          svg {
            width: 120px;
            height: 120px;
            margin: $gutter $gutter/2 $gutter/2 $gutter/2;

            &.research {
              fill: $yellow;
            }
            &.money {
              fill: $red;
            }
            &.environment {
              fill: $green;
            }
            &.rights {
              fill: $purple;
            }
          }

          p {
            max-width: 770px;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }

          & + a {
            @include button;
            margin-bottom: $gutter;
          }
        }

        article {
          display: none;
        }
      }

      &:target {
        & > div {
          & > header {
            & + a {
              display: none;
            }
          }
        }
        article {
          display: block;
          text-align: left;
          padding: $gutter;

          & > div {
            @include columns;

            .theme {
              break-inside: avoid;
              display: block;

              &:nth-of-type(1) h4 {
                color: $yellow;
              }
              &:nth-of-type(2) h4 {
                color: $red;
              }
              &:nth-of-type(3) h4 {
                color: $green;
              }
              &:nth-of-type(4) h4 {
                color: $purple;
              }
            }

            h4 {
              margin-top: 0;
            }

            h4,
            h5 {
              break-after: avoid;
              break-inside: avoid;
            }
          }
        }
      }
    }

    &#support {
      background-color: $purple;
      @include rev-text;

      & > div {
        padding-bottom: $gutter;

        & > header {
          padding: $gutter $gutter 0 $gutter;

          & + a {
            @include button(#fff, $purple);
            margin: $gutter;
          }
        }
      }

      @media (min-width:$max-screen) {
        position: relative;
        padding-top: 75px;

        &:before {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 80px 100vw 0 0;
          border-color: #fff transparent transparent;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }
    }
  }
}

.modal--fade,
.modal--show {
  line-height: inherit;

  .map {
    background-color: rgba($blue,0.5);
    height: 190px;
    position: relative;
    @media (min-height:800px) {
      height: 250px;
    }
  }
  .modal-content {
    font-size: 0.9em;

    .description {
      @media (min-width:$medium-screen) {
        float: left;
        width: 70%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
      }
    }
    .meta {

      h5 {
        text-transform: uppercase;
        font-size: 18px;
      }

      @media (min-width:$medium-screen) {
        margin-left: 73%;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .modal-close {
    @media (min-width:$medium-screen) {
      &:after {
        z-index: 19;
      }
    }
  }
}
