.main-nav {
  background-color: $black;
  color: #fff;
  text-align: right;
  min-height: 62px;

  a {
    color: inherit;
    text-decoration: none;
  }

  & > div {
    @include container;
    padding: $base-spacing*0.75 0;

    & > div {
      margin-left: $gutter;
      margin-right: $gutter;
      position: relative;
    }
  }

  .logo {
    display: inline-block;
    width: 80px;
    float: left;
    line-height: 1;
  }

  .menu {
    margin: 0;
    padding: 0;
    @include clearafter;
    display: none;

    &:target{
      display: block;
    }

    li {
      display: block;
    }
  }

  .slicknav_menu > a,
  .language > div > a {
    border: solid 1px #fff;
    display: inline-block;
    border-radius: 4px;
    font-size: 14px;
  }

  .slicknav_menu {
    float: right;
    margin: -1px 0 0 $gutter/2;
    text-align: left;

    .slicknav_menutxt {
      text-transform: uppercase;
    }

    .slicknav_btn {
      padding: 6px;
    }

    .slicknav_icon-bar {
  		background-color: #fff;
      height: 1px;

      & + .slicknav_icon-bar {
    		margin-top: 3px;
    	}
  	}

    .slicknav_nav{
  		background-color: $black;
      position: absolute;
      z-index: 99;
      top: 40px;
      right: -$gutter;
      left: -$gutter;
      margin: 0;
      padding: 6px $gutter $gutter $gutter;

      a {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
      }
  	}

  }

  &.stuck {
    position:fixed;
    width: 100%;
    top:0;
    z-index: 99;
  }
}
