<div>

  <!-- OKF Panel -->
  <div id="ok-panel" class="closed">
    <div class="container">
      <iframe src="https://a.okfn.org/html/oki/panel/panel.html" scrolling="no"></iframe>
    </div>
  </div>
  <div id="ok-panel-wrapper">
    <a class="white ok-ribbon" href="https://okfn.org/">
      <img src="https://a.okfn.org/html/oki/panel/assets/images/oki-ribbon.png" alt="Open Knowledge">
    </a>
  </div>
  <!-- End OKF Panel -->

  <header class="banner">
    <a href="#{{ this.banner_link }}">
      {% set banner_heading_1 = this.banner_heading_1 or bag('global-content', this.alt).open_data_day %}
      <h1>
        <span class="l1">
          {{ banner_heading_1 }}
        </span>
        {% if this.banner_heading_2 %}
          <br />
          <span class="l2">{{ this.banner_heading_2 }}</span>
        {% endif %}
        {% if this.banner_heading_3 %}
          <br />
          <span class="l3">{{ this.banner_heading_3 }}</span>
        {% endif %}
      </h1>
      <span class="down animated bounce"><svg><use xlink:href="#icon-down" /></svg></span>
    </a>
  </header>
</div>