<section id="logos">
  <div>
    <header>
      {{ this.support_scheme_logos }}
    </header>
    <ul>
      <li>
      <span>
        <a href="https://www.microsoft.com">
        <svg><use xlink:href="#icon-microsoft" /></svg>
        </a>
      </span>
      </li>
      <li>
      <span>
        <a href="https://www.mapbox.com/">
        <svg><use xlink:href="#icon-mapbox" /></svg>
        </a>
      </span>
      </li>
      <li>
       <span>
         <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-development-office">
         <svg><use xlink:href="#icon-fcdo" /></svg>
         </a>
       </span>
     </li>
      <li>
     <span>
       <a href="https://www.gfdrr.org/en/gfdrr-labs">
       <svg><use xlink:href="#icon-gfdrr"/></svg>
       </a>
     </span>
     </li>
      <li>
         <span>
           <a href="https://idatosabiertos.org/en/">
           <svg><use xlink:href="#icon-ilda"/></svg>
           </a>
         </span>
       </li>
       <li>
       <span>
         <a href="https://www.open-contracting.org/">
         <svg><use xlink:href="#icon-ocplogo"/></svg>
         </a>
       </span>
     </li>
     <li>
     <span>
       <a href="https://www.datopian.com/">
       <svg><use xlink:href="#icon-datopian"/></svg>
       </a>
     </span>
   </li>
    </ul>
  </div>
</section>
