<section id="logos">
  <div>
    <header>
      {{ bag('global-content', this.alt).support_scheme_logos }}
    </header>
    <ul>
      <li>
        <span>
          <a href="https://www.microsoft.com">
            <svg>
              <use xlink:href="#icon-microsoft" />
            </svg>
          </a>
        </span>
      </li>
      <li>
        <span>
          <a href="https://okfn.org">
            <svg>
              <use xlink:href="#icon-okfn"/>
            </svg>
          </a>
        </span>
      </li>
    </ul>
  </div>
</section>
