<nav class="main-nav">
  <div>
    <a class="logo" href="{{ '/'|url }}">{% include 'includes/logo.svg' %}</a>

    <div class="language">
      {% if this.language %}
      {% set current_language = this.language %}
      {% else %}
      {% set current_language = "en" %}
      {% endif %}
      <a class="current" href="#lang">{{ current_language }}</a>

      <ul id="lang">
      {% for lang in bag('languages.all') %}
        <li{% if current_language == lang %} class="active"{% endif %}>
          <a href="{{ '.'|url(alt=lang) }}">{{ lang }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>

    <ul class="menu">
      {% for label, path in bag('main-nav', this.alt).iteritems() %}
      <li{% if this.is_child_of(path) %} class="active"{% endif
        %}><a href="{{ path }}" data-scroll>{{ label }}</a>
    {% endfor %}
    </ul>

  </div>
</nav>
