<nav class="main-nav">
  <ul class="nav navbar-nav">
    <li{% if this._path == '/' %} class="active"{% endif
      %}><a href="{{ '/'|url }}">Welcome</a></li>
    {% for href, title in [
      ['/about', 'About'],
      ['/style-guide', 'Style Guide']
    ] %}
      <li{% if this.is_child_of(href) %} class="active"{% endif
        %}><a href="{{ href|url }}">{{ title }}</a></li>
    {% endfor %}
  </ul>

  <div class="language">
    <a class="current" href="#lang">{{ this.language }}</a>
    <ul id="lang">
      <li{% if this.language == "en" %} class="active"{% endif %}>
        <a href="{{ '.'|url(alt='en') }}">EN</a>
      </li>
      <li{% if this.language == "de" %} class="active"{% endif %}>
        <a href="{{ '.'|url(alt='de') }}">DE</a>
      </li>
    </ul>
  </div>

</nav>
