{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<header class="banner">
  <div>
    {% set banner_heading_1_words = this.banner_heading_1.split(' ') %}
    {% set banner_heading_2_words = this.banner_heading_2.split(' ') %}
    {% set banner_content_1_words = this.banner_content_1.split(' ') %}
    {% set banner_content_2_words = this.banner_content_2.split(' ') %}
    <h1>{% for w in banner_heading_1_words %}<span class="l1">&nbsp;{{ w }}</span>{% endfor %}{% if this.banner_heading_2 %}<br />{% for w in banner_heading_2_words %}<span class="l2">&nbsp;{{ w }}</span>{% endfor %}{% endif %}</h1>
    <p>
      {% for w in banner_content_1_words %}<span class="l1">&nbsp;{{ w }}</span>{% endfor %}{% if this.banner_content_2 %}<br />{% for w in banner_content_2_words %}<span class="l2">&nbsp;{{ w }}</span>{% endfor %}{% endif %}
    </p>
  </div>
</header>
{% include 'includes/nav.html' %}
<section id="what">
  <div>
    <div class="about">
      <article>
        <h2>{{ this.intro_heading }}</h2>
        {{ this.intro_body }}
      </article>
      <a href="about">{{ this.intro_button }}</a>
    </div>
    <div class="this-year">
      <article>
        <h2>Open Data<br /> Day {{ this.next_date.strftime('%Y') }}</h2>
        {{ this.year_intro }}
      </article>
      <ul>
        <li>
          <svg><use xlink:href="#icon-research" /></svg>
          {{ this.year_label_1 }}
        </li>
        <li>
          <svg><use xlink:href="#icon-money" /></svg>
          {{ this.year_label_2 }}
        </li>
        <li>
          <svg><use xlink:href="#icon-environment" /></svg>
          {{ this.year_label_3 }}
        </li>
        <li>
          <svg><use xlink:href="#icon-rights" /></svg>
          {{ this.year_label_4 }}
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="map">
  map
</section>

<section id="who">
  <div>
    <article>
      <h2>{{ this.who_heading }}</h2>
      {{ this.who_body }}
    </article>
    <ul>
      <li>
        <span>
          <svg><use xlink:href="#icon-code-outline" /></svg>
        </span>
        <h3>{{ this.who_title_1 }}</h3>
        {{ this.who_description_1 }}
      </li>
      <li>
        <span>
          <svg><use xlink:href="#icon-brush" /></svg>
        </span>
        <h3>{{ this.who_title_2 }}</h3>
        {{ this.who_description_2 }}
      </li>
      <li>
        <span>
          <svg><use xlink:href="#icon-book" /></svg>
        </span>
        <h3>{{ this.who_title_3 }}</h3>
        {{ this.who_description_3 }}
      </li>
      <li>
        <span>
          <svg><use xlink:href="#icon-chart-bar" /></svg>
        </span>
        <h3>{{ this.who_title_4 }}</h3>
        {{ this.who_description_4 }}
      </li>
      <li>
        <span>
          <svg><use xlink:href="#icon-user-outline" /></svg>
        </span>
        <h3>{{ this.who_title_5 }}</h3>
        {{ this.who_description_5 }}
      </li>
    </ul>
  </div>
</section>

<section id="resources">
  <div>
    <article>
      <h2>{{ this.resources_heading }}</h2>
      <svg><use xlink:href="#icon-research" /></svg>
      <svg><use xlink:href="#icon-money" /></svg>
      <svg><use xlink:href="#icon-environment" /></svg>
      <svg><use xlink:href="#icon-rights" /></svg>
      {{ this.resources_body }}
      <a>{{ this.resources_button }}</a>
    </article>
  </div>
</section>

<section id="support">
  <div>
    <h2>{{ this.support_scheme_heading }}</h2>
    {{ this.support_scheme_body }}
  </div>
</section>

{% endblock %}
