{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

{% include 'includes/header.html' %}
{% include 'includes/nav.html' %}

<section id="what">
  <div>
    <div class="about">
      <header>
        <h2>{{ this.intro_heading }}</h2>
        {{ this.intro_body }}
        {% if this.intro_body_2 and (this.intro_button is not defined) %}
        {{ this.intro_body_2 }}
        {% endif %}
      </header>
      {% if this.intro_button %}
      <a>{{ this.intro_button }}</a>
      {% endif %}
    </div>
    <div class="this-year">
      <header>
        <h2>Open Data<br /> Day {{ this.next_date.strftime('%Y') }}</h2>
        {{ this.year_intro }}
      </header>
      <ul>
      <li>
          <svg><use xlink:href="#icon-environment" /></svg>
          {{ this.year_label_1 }}
        </li>
        <li>
          <svg><use xlink:href="#icon-money" /></svg>
          {{ this.year_label_2 }}
        </li>
        <li>
          <svg><use xlink:href="#icon-mapping" /></svg>
          {{ this.year_label_3 }}
        </li>
        <li>
          <svg><use xlink:href="#icon-equality" /></svg>
          {{ this.year_label_4 }}
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="map">
  <div id="map-container" style="height: inherit">
  </div>

  <section class="modal--show" id="modal-example" tabindex="-1"
  role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-inner">
      <div class="map">
        <!-- detail map here -->
      </div>
      <div class="modal-content">
        <div class="description">
          <h3>Saint Catharines</h3>
          <p>
            On March 5th come to Cowork Niagara to help create a map or other technological design to help to explain...
          </p>
          <ol>
            <li>
              Where citizens can give food
            </li>
            <li>
              Where citizens can find food
            </li>
          </ol>
          <p>
            You do not need any special skills to attend this event. We welcome all! Please feel free to join us.
          </p>
          <p>
            If possible, please bring a laptop and remember your power cord!
            Project work from the day will be developed on GitHub. You do not need to have any prior knowledge of GitHub to participate.
          </p>
          <p>
            Food and beverages (with healthy, vegan and gluten-free options available) will be served throughout the day thank you to generous event sponsors.
          </p>
          <p>
            Thank you to the Niagara Region, Software Niagara, Niagara Connects and Cowork Niagara for making this event possible.
          </p>
        </div>
        <div class="meta">
          <h5>Date &amp; Time</h5>
          <p>
            Sat, 4 March 2018<br />
            9:00 AM – 5:00 PM EST
          </p>

          <h5>Location</h5>
          <p>
            Cowork Niagara<br />
            108 Saint Paul Street<br />
            Saint Catharines, ON L2R<br />
            Canada
          </p>
        </div>
      </div>
    </div>
    <a href="#!" class="modal-close" title="Close this modal" data-close="Close"
    data-dismiss="modal">?</a>
  </section>
  <header>
    <div>
      <div>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfBBp5CZXe2M8wXulTNgRTZWo1PD2raB6IEEha9FJaq6hVSfQ/viewform" rel="external">{{ this.register_text }}</a>
        <span class="count"><span id="event-number">0</span> {{ this.events_registered }}</span>
      </div>
    </div>
  </header>
</section>

<section id="who">
  <div>
    <header>
      <h2>{{ this.who_heading }}</h2>
      {{ this.who_body }}
    </header>
    <ul>
      <li>
        <span>
          <svg><use xlink:href="#icon-user-outline" /></svg>
        </span>
        <h3>{{ this.who_title_1 }}</h3>
        {{ this.who_description_1 }}
      </li>
      <li>
        <span>
          <svg><use xlink:href="#icon-card" /></svg>
        </span>
        <h3>{{ this.who_title_2 }}</h3>
        {{ this.who_description_2 }}
      </li>
      <li>
        <span>
          <svg><use xlink:href="#icon-brush" /></svg>
        </span>
        <h3>{{ this.who_title_3 }}</h3>
        {{ this.who_description_3 }}
      </li>
      <li>
        <span>
          <svg><use xlink:href="#icon-code-outline" /></svg>
        </span>
        <h3>{{ this.who_title_4 }}</h3>
        {{ this.who_description_4 }}
      </li>
      <li>
        <span>
          <svg><use xlink:href="#icon-chart-bar" /></svg>
        </span>
        <h3>{{ this.who_title_5 }}</h3>
        {{ this.who_description_5 }}
      </li>
    </ul>
  </div>
</section>

<section id="resources">
  <div>
    <header>
      <h2>{{ this.resources_heading }}</h2>
      <svg class="research"><use xlink:href="#icon-research" /></svg>
      <svg class="money"><use xlink:href="#icon-money" /></svg>
      <svg class="mapping"><use xlink:href="#icon-mapping" /></svg>
      <svg class="equality"><use xlink:href="#icon-equality" /></svg>
      {{ this.resources_intro }}
    </header>
    <a href="#resources">{{ this.resources_button }}</a>
    <article>
      <h3>{{ this.resources_materials_heading }}</h3>
      {{ this.resources_materials_text }}
      <h3>{{ this.resources_ideas_heading }}</h3>
      <div>
        {{ this.resources_ideas_intro }}
        <span class="theme">
          <h4>{{ this.resources_ideas_theme_1 }}</h4>
          {{ this.resources_ideas_theme_1_text }}
        </span>
        <span class="theme">
          <h4>{{ this.resources_ideas_theme_2 }}</h4>
          {{ this.resources_ideas_theme_2_text }}
        </span>
        <span class="theme">
          <h4>{{ this.resources_ideas_theme_3 }}</h4>
          {{ this.resources_ideas_theme_3_text }}
        </span>
        <span class="theme">
          <h4>{{ this.resources_ideas_theme_4 }}</h4>
          {{ this.resources_ideas_theme_4_text }}
        </span>
        <span class="theme">
          <h4>{{ this.resources_ideas_theme_5 }}</h4>
          {{ this.resources_ideas_theme_5_text }}
        </span>
      </div>
    </article>
  </div>
</section>

<section id="support">
  <div>
    <header>
      <h2>{{ this.support_scheme_heading }}</h2>
      {{ this.support_scheme_body }}
    </header>
    {% if this.support_scheme_button %}
    <a href="https://blog.okfn.org/2021/01/15/launching-the-open-data-day-2021-mini-grant-scheme" rel="external">{{ this.support_scheme_button }}</a>
    {% endif %}
  </div>
</section>

{% include 'includes/logos.html' %}

{% endblock %}

{% block extra_js %}
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js"></script>
<script src="{{ '/js/map.js'|url }}"></script>
{% endblock %}
