{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<header class="banner">
  <a href="#what">
    {% set banner_heading_1_words = this.banner_heading_1.split(' ') %}
    {% set banner_heading_2_words = this.banner_heading_2.split(' ') %}
    {% set banner_content_1_words = this.banner_content_1.split(' ') %}
    {% set banner_content_2_words = this.banner_content_2.split(' ') %}
    <h1>{% for w in banner_heading_1_words %}<span class="l1">&nbsp;{{ w }}</span>{% endfor %}{% if this.banner_heading_2 %}<br />{% for w in banner_heading_2_words %}<span class="l2">&nbsp;{{ w }}</span>{% endfor %}{% endif %}</h1>
    <p>
      {% for w in banner_content_1_words %}<span class="l1">&nbsp;{{ w }}</span>{% endfor %}{% if this.banner_content_2 %}<br />{% for w in banner_content_2_words %}<span class="l2">&nbsp;{{ w }}</span>{% endfor %}{% endif %}
    </p>
    <span class="down animated bounce"><svg><use xlink:href="#icon-down" /></svg></span>
  </a>
</header>
{% include 'includes/nav.html' %}
<section id="what">
  <div>
    <div class="about">
      <header>
        <h2>{{ this.intro_heading }}</h2>
        {{ this.intro_body }}
        {% if this.intro_body_2 and (this.intro_button is not defined) %}
        {{ this.intro_body_2 }}
        {% endif %}
      </header>
      {% if this.intro_button %}
      <a>{{ this.intro_button }}</a>
      {% endif %}
    </div>
    <div class="this-year">
      <header>
        <h2>Open Data<br /> Day {{ this.next_date.strftime('%Y') }}</h2>
        {{ this.year_intro }}
      </header>
      <ul>
        <li>
          <svg><use xlink:href="#icon-research" /></svg>
          {{ this.year_label_1 }}
        </li>
        <li>
          <svg><use xlink:href="#icon-money" /></svg>
          {{ this.year_label_2 }}
        </li>
        <li>
          <svg><use xlink:href="#icon-environment" /></svg>
          {{ this.year_label_3 }}
        </li>
        <li>
          <svg><use xlink:href="#icon-rights" /></svg>
          {{ this.year_label_4 }}
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="map">
  <!-- map here -->
  <header>
    <div>
      <div>
        <a href="https://docs.google.com/a/okfn.org/forms/d/e/1FAIpQLSedrpTmuDBklTM3axGUgbRsB_ET6XHrF4lgPMDq7aLdFyYZFg/viewform" rel="external">{{ this.register_text }}</a>
      </div>
    </div>
  </header>
</section>

<section id="who">
  <div>
    <header>
      <h2>{{ this.who_heading }}</h2>
      {{ this.who_body }}
    </header>
    <ul>
      <li>
        <span>
          <svg><use xlink:href="#icon-user-outline" /></svg>
        </span>
        <h3>{{ this.who_title_1 }}</h3>
        {{ this.who_description_1 }}
      </li>
      <li>
        <span>
          <svg><use xlink:href="#icon-card" /></svg>
        </span>
        <h3>{{ this.who_title_2 }}</h3>
        {{ this.who_description_2 }}
      </li>
      <li>
        <span>
          <svg><use xlink:href="#icon-brush" /></svg>
        </span>
        <h3>{{ this.who_title_3 }}</h3>
        {{ this.who_description_3 }}
      </li>
      <li>
        <span>
          <svg><use xlink:href="#icon-code-outline" /></svg>
        </span>
        <h3>{{ this.who_title_4 }}</h3>
        {{ this.who_description_4 }}
      </li>
      <li>
        <span>
          <svg><use xlink:href="#icon-chart-bar" /></svg>
        </span>
        <h3>{{ this.who_title_5 }}</h3>
        {{ this.who_description_5 }}
      </li>
    </ul>
  </div>
</section>

<section id="resources">
  <div>
    <header>
      <h2>{{ this.resources_heading }}</h2>
      <svg class="research"><use xlink:href="#icon-research" /></svg>
      <svg class="money"><use xlink:href="#icon-money" /></svg>
      <svg class="environment"><use xlink:href="#icon-environment" /></svg>
      <svg class="rights"><use xlink:href="#icon-rights" /></svg>
      {{ this.resources_intro }}
    </header>
    <a href="#resources">{{ this.resources_button }}</a>
    <article>
      <h3>{{ this.resources_materials_heading }}</h3>
      {{ this.resources_materials_text }}
      <h3>{{ this.resources_ideas_heading }}</h3>
      <div>
        {{ this.resources_ideas_intro }}
        <span class="theme">
          <h4>{{ this.resources_ideas_theme_1 }}</h4>
          {{ this.resources_ideas_theme_1_text }}
        </span>
        <span class="theme">
          <h4>{{ this.resources_ideas_theme_2 }}</h4>
          {{ this.resources_ideas_theme_2_text }}
        </span>
        <span class="theme">
          <h4>{{ this.resources_ideas_theme_3 }}</h4>
          {{ this.resources_ideas_theme_3_text }}
        </span>
        <span class="theme">
          <h4>{{ this.resources_ideas_theme_4 }}</h4>
          {{ this.resources_ideas_theme_4_text }}
        </span>

      </div>
    </article>
  </div>
</section>

<section id="support">
  <div>
    <header>
      <h2>{{ this.support_scheme_heading }}</h2>
      {{ this.support_scheme_body }}
    </header>
    {% if this.support_scheme_button %}
    <a href="https://blog.okfn.org/2017/01/25/announcing-the-2017-international-open-data-day-mini-grants-scheme/" rel="external">{{ this.support_scheme_button }}</a>
    {% endif %}
  </div>
</section>

{% endblock %}
