<!doctype html>
<meta charset="utf-8">
<title>{% block title %}Welcome{% endblock %} — Open Data Day</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700" rel="stylesheet">
<link rel="stylesheet" href="{{ '/css/style.css'|url }}">
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css" rel="stylesheet" />
<body class="{{ this._model }}">

  {% block body %}{% endblock %}

  <footer class="site-footer">
    <div>
      <span>
        {{ bag('global-content', this.alt).footer | markdown }}
      </span>

    </div>
  </footer>
  {% include 'includes/icons.svg' %}

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js"></script>
  <script src="{{ '/js/map.js'|url }}"></script>
  <script src="{{ '/js/plugins.js'|url }}"></script>
  <script src="{{ '/js/main.js'|url }}"></script>

  {% if this.language %}
  {% set current_language = this.language %}
  {% else %}
  {% set current_language = "en" %}
  {% endif %}
  <script type="text/javascript">
    // menus used on small screens
    $(function(){
      $('#nav').slicknav({
        'prependTo': '.main-nav > div > div',
        'label' : '{{ bag('global-content', this.alt).menu_label }}'
      });
    });
    $(function(){
      $('#lang').slicknav({
        'prependTo': '.main-nav > div > div',
        'label' : '{{ current_language |replace("_", " ") }}',
      });
    });

    // analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33874954-12']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
