<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Welcome{% endblock %} — Open Data Day</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/css/style.css'|url }}">
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet" />
  <script>
    var okiConsent = {
      analyticsTrackingID: 'UA-33874954-12',
    };
  </script>
  <script src="https://a.okfn.org/html/oki/consent/assets/js/consent.js"></script>
</head>
<body class="{{ this._model }}">

  {% block body %}{% endblock %}

  <footer class="site-footer">
    <div>
      <span>
        {{ bag('global-content', this.alt).footer | markdown }}
        {{ bag('global-content', this.alt).licences }}:
        <ul>
          <li>{{ bag('global-content', this.alt).code_licence | markdown }}</li>
          <li>{{ bag('global-content', this.alt).data_licence | markdown }}</li>
          <li>{{ bag('global-content', this.alt).icon_licence | markdown }}</li>
        </ul>
      </span>

    </div>
  </footer>
  {% include 'includes/icons.svg' %}

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="{{ '/js/plugins.js'|url }}"></script>
  <script src="{{ '/js/main.js'|url }}"></script>
  {% block extra_js %}
  {% endblock %}

  {% if this.language %}
    {% set current_language = this.language %}
  {% elif this.alt %}
    {% set current_language = this.alt %}
  {% else %}
    {% set current_language = "en" %}
  {% endif %}
  <script type="text/javascript">
    $(function(){
      $('#nav').slicknav({
        'prependTo': '.main-nav > div > div',
        'label' : '{{ bag('global-content', this.alt).menu_label }}',
        'duplicate': false,

        'allowParentLinks': true,
        'showChildren': true,
        'closeOnClick': true,
        'beforeOpen': function() {
          $('#lang').slicknav('close');
        }
      });
    });
    $(function(){
      $('#lang').slicknav({
        'prependTo': '.main-nav > div > div',
        'label' : '{{ current_language |replace("_", " ") }}',
        'duplicate': false,
        'beforeOpen': function() {
          $('#nav').slicknav('close');
        }
      });
    });
  </script>
</body>
</html>
