<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Open Data Day</title>
    <link rel="canonical" href="{{ this.target|url }}">
    <script>location="{{ this.target|url }}"</script>
    <meta http-equiv="refresh" content="0; url="{{ this.target|url }}" />
    <meta name="robots" content="noindex">
  </head>
  <body>
    <h1>Redirecting&hellip;</h1>
    <p>
      This page has moved to
      <a href="{{ this.target|url }}">{{ this.target|url }}</a>.
    </p>
  </body>
</html>
