name: Build & Deploy to GH Pages
on: [push, pull_request]

jobs:
  build:
    name: Build & Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Set up Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install python dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install JS dependencies
        run: npm install

      - name: Build
        run: |
          npm run build
          lektor build

      - name: Deploy
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: lektor deploy ci --username ${{ github.actor }} --password ${{ secrets.GITHUB_TOKEN }}
